/* ------------- Movie Item ------------*/

.movieItem {
    background-position:center;
    background-size:cover;
    background-repeat: 'no-repeat';

    display:inline-block;
    height:250px;
    width:165px;
    vertical-align: top;

    border:solid;
    border-color:transparent;
}

.movieItem:hover {
    transform: scale(1.1);
    border-color: white;   
}

.movieItem:hover .moviePosterBtn {
    display:block;
}

/*---------- Popup Window ------------*/

.wallpaper {
    height:25%;
    background-position:center;
    background-size:contain;
    background-repeat: 'no-repeat';
    background-size: 50%;
}

.popup {
    position:relative;
    height:35vh;
}


/*---------- button styling -----------*/
.moviePosterBtn {
    margin:auto;
    align-items: center;
}

.movieItemBtn {
    border:none;
    padding: 5px 10px;
}

.movieItemBtn:hover {
    border:solid;
    border-color:white;
}

.closeBtn {
    background-color: lightgray;
    float:right;
}

