/* ------------- Movie Item ------------*/

.movie-item {
    display:flex;
    flex-direction: column;
    flex-grow:1;

    border:solid;
    border-color: transparent;
}

.movie-poster {
    display:flex;
    justify-content: center; /* center x-axis */
    align-items: center; /*center y-axis*/

    background-position:center;
    background-size:cover;
    background-repeat: no-repeat; /* important*/

    min-height:200px;
    width:100%;
    aspect-ratio: 0.674;
}

.movie-item:hover {
    transform: scale(1.2);
    border-color: white;   
}

.movie-item:hover .movie-poster-btn {
    display:block;
}

/*---------- button styling -----------*/
.movie-poster-btn {
    display:none;
}

.view-btn-container {
    width:100%;
    height:100%;
    margin:none;
    padding:none;
    border:none;
}

.view-btn {
    width:100%; 
    margin:none;
    background-color: rgb(40,40,40);
    color:white;
    cursor:pointer;
}

.play-btn {
    background-color: transparent;
    border:none;
    font-size:xx-large;
    cursor:pointer;
}



